<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
    
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target name="console"
                type="Console"
                layout="${date:format=HH\\:mm\\:ss.fff}  ${pad:padding=5:inner=${level:uppercase=true}}  ${message}${onexception:${newline}––– details ${pad:padCharacter=–:padding=68:inner=}${newline}${newline}${exception:format=toString:innerFormat=toString:maxInnerExceptionLevel=10}${newline}${pad:padCharacter=–:padding=80:inner=}"
                encoding="utf-8"
        />
    </targets>
    <rules>
        <logger name="*" minlevel="Information" writeTo="console" />
    </rules>
</nlog>
