@page
@model IndexModel

<h2>Groups:</h2>
<ul>
    @foreach (var group in Model?.Groups ?? [])
    {
        <li>
            <h4>@group.Name</h4>
        </li>
        <form method="get">
            <button type="submit" asp-page="Group"
                    asp-route-id="@group.Id">
                Go to group sessions
            </button>
        </form>
        <h4>@Environment.NewLine</h4>
        <form method="post">
            <button type="submit" asp-page-handler="Delete"
                    asp-route-id="@group.Id">
                Delete group
            </button>
        </form>
    }
</ul>

<form method="post">
    <input type="text" name="name"/>
    <button type="submit" asp-page-handler="">Create new group</button>
</form>